<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- ===== Déclaration des Repository ===== -->
    <bean id="garageRepository" class="org.dbs.garage.infra.xml.RepositoryOfGarageXmlImpl"/>
    <bean id="locationRepository" class="org.dbs.garage.infra.xml.RepositoryOfLocationXmlImpl"/>

    <!-- ===== Déclaration des Services ===== -->
    <bean id="manageGarageStock" class="org.dbs.garage.usage.service.ManageGarageStockImpl">
        <property name="repositoryOfGarage" ref="garageRepository"/>
        <property name="repositoryOfLocation" ref="locationRepository"/>
    </bean>
    <bean id="consultGarageStock" class="org.dbs.garage.usage.service.ConsultGarageStockImpl">
        <property name="repositoryOfGarage" ref="garageRepository"/>
    </bean>
    <bean id="consultLocationStock" class="org.dbs.garage.usage.service.ConsultLocationStockImpl">
        <property name="repositoryOfLocation" ref="locationRepository"/>
    </bean>

    <!-- ===== ServiceFactory ===== -->
    <bean id="serviceFactory" class="org.dbs.garage.usage.service.ServiceFactory">
        <property name="consultGarageStock" ref="consultGarageStock"/>
        <property name="consultLocationStock" ref="consultLocationStock"/>
        <property name="enrichGarageStock" ref="manageGarageStock"/>
    </bean>


    <!-- ================== TEST ====================== -->
    <!-- ===== Déclaration des Repository de test ===== -->
    <bean id="garageRepositoryTest" class="org.dbs.garage.infra.memory.RepositoryOfGarageMemoryImpl"/>
    <bean id="locationRepositoryTest" class="org.dbs.garage.infra.memory.RepositoryOfLocationMemoryImpl"/>

    <!-- ===== Déclaration des Services ===== -->
    <bean id="manageGarageStockTest" class="org.dbs.garage.usage.service.ManageGarageStockImpl">
        <property name="repositoryOfGarage" ref="garageRepositoryTest"/>
        <property name="repositoryOfLocation" ref="locationRepositoryTest"/>
    </bean>
    <bean id="consultGarageStockTest" class="org.dbs.garage.usage.service.ConsultGarageStockImpl">
        <property name="repositoryOfGarage" ref="garageRepositoryTest"/>
    </bean>
    <bean id="consultLocationStockTest" class="org.dbs.garage.usage.service.ConsultLocationStockImpl">
        <property name="repositoryOfLocation" ref="locationRepositoryTest"/>
    </bean>

    <!-- ===== ServiceFactory ===== -->
    <bean id="serviceFactoryTest" class="org.dbs.garage.usage.service.ServiceFactory">
        <property name="consultGarageStock" ref="consultGarageStockTest"/>
        <property name="consultLocationStock" ref="consultLocationStockTest"/>
        <property name="enrichGarageStock" ref="manageGarageStockTest"/>
    </bean>

</beans>