<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <display-name>Application de gestion des garages by DBS</display-name>
  <servlet>
    <servlet-name>Garage</servlet-name>
    <servlet-class>org.dbs.webgarage.WebGarage</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Garage</servlet-name>
    <url-pattern>/MyGarage</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Supervision</servlet-name>
    <servlet-class>org.dbs.webgarage.Supervision</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Supervision</servlet-name>
    <url-pattern>/Supervision</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>About</servlet-name>
    <servlet-class>org.dbs.webgarage.About</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>About</servlet-name>
    <url-pattern>/about</url-pattern>
  </servlet-mapping>

  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
</web-app>
